# Make a copy of this file and rename it to .env. Then add your API key from weatherstack.com to the API_KEY variable in the .env file.

# Use this to verify that you can pull env variables from the .env file. You can run this script to verify that your API key is being pulled correctly.
DUMMY_KEY = 12345678

# Get your API key from weatherstack.com and paste it below in YOUR LOCAL .env file. Do not share your API key publicly.
API_KEY = "paste your key from weatherstack.com in YOUR LOCAL .env file NOT THIS ONE!"

# Database configuration variables. You can change these if you want to use a different database or database name.
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "db"
DB_USER = "db_user"
DB_PASSWORD = "db_password"